# VS / .NET
bin/
obj/
*.user
*.suo
*.vs/
.vscode/

# Rider
.idea/

# dotnet local
*.db

# Node / Angular
node_modules/
dist/
npm-debug.log
package-lock.json
yarn.lock

# Env
.env
.env.local
.env.*.local
